.footer_container{
  /* background-color: transparent;  */
  background-color: purple;
  /* width: 108%;  */
  color: white;
  opacity: 60%;
  font-size: 10px;
  

}
.media-container{
  padding-top: 5%;
}